{% extends "base.html" %}
{% load static %}
{% block title %}
    Log In page |
{% endblock title %}
{% block styles %}
    <style>
    	a{
    		text-decoration: none;
    	}
    	.login{
    		width: 100%;
            min-height: 85vh;
            display: flex;align-items: center;
            justify-content: space-around;

    	}
        .login img{
            width: 700px;
            transform: rotateY(180deg);
        }
    	form{
    		display: flex;
    		flex-direction: column;
    		width: 550px;
    		align-items: start;justify-content: center;
    		gap: 1rem;
    		border-radius: 5px;
    		box-shadow: 5px 5px 0 #aaa;
            border: 1px solid #f1f1f1;
    		padding: 2rem;
    	}
    	form input, form button, form a{
    		width: 100%;
    	}
    </style>
{% endblock styles %}

{% block main %}
    <section class="login">
        <img src="{% static 'notesbg.png' %}" alt="login background">

    	<form id="myform">
            <label>Username</label>
    		<input type="text" name="username" placeholder="Username">
            <label>Password</label>
    		<input type="password" name="password" placeholder="******">
    		<button class="btn1">Log In</button>
    		<a class="btn1" href="{% url 'signuppage' %}">Create an Account</a>
    	</form>
    </section>
{% endblock main %}

{% block scripts %}
    <script>
    	const form = document.querySelector('#myform')
        const csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value

    	const login = async () => {
    		const formData = new FormData(form)
    		try{
    			const response = await fetch('{% url "login" %}', {
    				method: 'POST',
                    headers: {'X-CSRFToken': csrftoken},
    				body: formData
    			})

                const data = await response.json()

                localStorage.setItem('username', data.user_data.username)
                localStorage.setItem('email', data.user_data.email)
                localStorage.setItem('id', data.user_data.id)
    			window.location.href='{% url "frontpage" %}'
    		}catch(e){
    			console.error(e.message)
    		}
    	}
    	form.addEventListener('submit', (event) => {
            event.preventDefault()
            login()
        })
    </script>
{% endblock scripts %}